In [ ]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host="db",
    database="postgres",
    user="postgres",
    password="postgres"
)

In [ ]:
# Create a new table with the desired column names and data types
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS cars")
cur.execute("CREATE TABLE cars (Car_Name VARCHAR(50), Year INTEGER, Selling_Price FLOAT, Present_Price FLOAT, Kms_Driven INTEGER, Fuel_Type VARCHAR(10), Seller_Type VARCHAR(10), Transmission VARCHAR(10), Owner INTEGER)")

# Load the data from your CSV file into a pandas DataFrame
df = pd.read_csv('/home/jovyan/work/cardata.csv')

# Insert the data from the pandas DataFrame into the new table
for index, row in df.iterrows():
    cur.execute("INSERT INTO cars (Car_Name, Year, Selling_Price, Present_Price, Kms_Driven, Fuel_Type, Seller_Type, Transmission, Owner) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)", (row['Car_Name'], row['Year'], row['Selling_Price'], row['Present_Price'], row['Kms_Driven'], row['Fuel_Type'], row['Seller_Type'], row['Transmission'], row['Owner']))

# Commit the changes to the database
conn.commit()

**Question 1**: What is the average selling price of cars by fuel type?

In [ ]:
cur.execute("""
    SELECT Car_Name, MAX(Selling_Price) as Max_Selling_Price
    FROM cars
    GROUP BY Car_Name
    ORDER BY Max_Selling_Price DESC
    LIMIT 1;

""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 2:** What is the most expensive car by make and model?

cur.execute("""
    SELECT Fuel_Type, AVG(Selling_Price) as Average_Selling_Price
    FROM cars
    GROUP BY Fuel_Type;
""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 3**: How many cars were sold by transmission type before 2013?

In [ ]:
cur.execute("""
    SELECT Transmission, COUNT(*) as Total_Cars_Sold
    FROM cars
    WHERE Year < 2013
    GROUP BY Transmission;
""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 4:** What is the average depreciation of a car after 5 years of ownership by seller type?

In [ ]:
cur.execute("""
    SELECT Seller_Type, AVG(Present_Price - Selling_Price) as Average_Depreciation
    FROM cars
    WHERE Owner = 1 AND Year = 2015
    GROUP BY Seller_Type;
""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 5:** How many cars have been driven more than 50,000 kilometers and are still owned by the original owner?

In [ ]:
cur.execute("""
    SELECT COUNT(*) as Total_Cars
    FROM cars
    WHERE Kms_Driven > 50000 AND Owner = 0;
""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 6**: What is the average difference between the selling price and present price of cars with more than 100,000 kms driven?

In [ ]:
cur.execute("""
    SELECT AVG(Present_Price - Selling_Price) as Average_Difference
    FROM cars
    WHERE Kms_Driven > 100000;
""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 7**:  Which fuel type has the highest average selling price for cars with a transmission type of Automatic?

In [ ]:
cur.execute("""
    SELECT Fuel_Type, AVG(Selling_Price) as Average_Selling_Price
    FROM cars
    WHERE Transmission = 'Automatic'
    GROUP BY Fuel_Type
    ORDER BY Average_Selling_Price DESC
    LIMIT 1;

""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 8:**  How many cars of each model were sold in 2014?

In [ ]:
cur.execute("""
    SELECT Car_Name, COUNT(*) as Total_Cars_Sold
    FROM cars
    WHERE Year = 2014
    GROUP BY Car_Name;


""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

**Question 9**:  Which sellers have the highest average selling price of cars with a manual transmission and at least 2 previous owners?

In [ ]:
cur.execute("""
    SELECT Seller_Type, AVG(Selling_Price) as Average_Selling_Price
    FROM cars
    WHERE Transmission = 'Manual' AND Owner = 1
    GROUP BY Seller_Type
    ORDER BY Average_Selling_Price DESC
    LIMIT 1;
""")

# Fetch all the rows of the query result
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)